.App {
  background-color: #354f60d4;
  height: 100vh;
}

header {
  align-items: center;
  background-color: #004673;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #ff5b5b;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  margin: 0;
  padding: .5rem 1rem;
}

.toggle-btn {
  background-color: #c0e6ff;
}

.toggle-btn:hover {
  background-color: #009aff;
  color: #ffdddd;
}
