header {
  align-items: center;
  background-color: #ff9c9c;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  color: #151f34;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4rem;
  margin: 0;
  padding: 1rem;
  }


